
.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 5px #DDDDDD;
    border-radius: 4px;
    text-align: right;
    display: flex;

}

section.filters .search_button{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}


section button:hover {
    opacity: 0.9;
}


.filters .locations{
    width: 40%;
    border-right: solid 1px #DDDDDD;
}


.filters .amenities{
    width: 90%;
}


.locations h3, .amenities h3{
    text-align: left;
    padding-left: 45px;
    weight: 600;
    margin-bottom: 3px;

}


.locations h4, .amenities h4{
    padding-left: 45px;
    text-align: left;
    weight: 400;
    font-size: 14px;
    margin-top: 3px;
}

