
section.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

#group {
    display: flex;
    width: 70%;
}

#search_button{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}


section button:hover {
    opacity: 0.9;
    cursor: pointer;
}


.filters .locations {
    border-right: solid 1px #DDDDDD;
    width: 35%;
    cursor: pointer;
}

.filters .amenities {
    width: 35%;
    cursor: pointer;
}

.locations h4, .amenities h4{
    padding-left: 45px;
    text-align: left;
    weight: 400;
    font-size: 14px;
    margin-top: 3px;
}
.locations h3, .amenities h3{
    text-align: left;
    padding-left: 45px;
    weight: 600;
    margin-bottom: 3px;
}
.popover2  {
    text-align: left;
    padding: 40px;
    list-style: none;
    background-color:  #FAFAFA;
}
.popover1 h2, .popover2 h2 {
    margin-bottom: 5px;
    font-size: 16px;
}
.popover1 li {

}
.popover1 {
    padding-top: 25px;
}

.locations ul {
    margin: 0;
    text-align: left;
    list-style: none;
    background-color:  #FAFAFA;
}




/* .popover1, .popover2 {
    display: none;
    position: absolute;
}
.locations:hover, .amenities:hover  {
    background-color:  #FAFAFA;
}
.locations:hover .popover1 {
    display: block;
}
.amenities:hover .popover2 {
    display: block;
} */



